<launch>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch"/>

    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
                            <!-- Substitute here your specific path to the map of the house.-->
        <arg name="map_file" value="/home/jonasalinas/mapcasa.yaml">
        </arg>
    </include>

</launch>